<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>


  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top" class="custom-background">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include ../partials/sidebar %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column custom-background">

      <!-- Main Content -->
      <div id="content">

         <!-- Topbar -->
         <% include ../partials/topbar %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-white">Pregled detalja o biljci</h1>


            <!-- Info o biljci-->
      <div class="row ">
          <div class="col-md-8">
              <div class="card border-left-primary shadow h-100 py-2 div-margin">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item"><span class="text-bold">Naziv biljke:</span> <span id="nazivBiljke"></span></li>
                              <li class="list-group-item"><span class="text-bold">Latinski naziv biljke:</span> Camomille</li>
                              <li class="list-group-item"><span class="text-bold">Kraljevstvo:</span> Kingdom of Camo</li>
                              <li class="list-group-item"><span class="text-bold">Porodica:</span> Family of Kamilica</li>
                              <li class="list-group-item"><span class="text-bold">Red:</span> Vitez</li>
                              <li class="list-group-item"><span class="text-bold">Autor: </span> Visiot</li>
                              <li class="list-group-item"><span class="text-bold">Opis:</span>
                                  <p class="opisBiljke">Lorem ipsum dolor sit ametLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet dui lectus. Proin id est dui. Morbi id commodo augue, eu eleifend nulla. Sed nisl sem, semper sit amet fringilla vel, congue id erat. Donec dapibus ante nec mauris pulvinar pulvinar. Sed cursus, ante sed facilisis bibendum, nisi leo mollis quam, in dignissim arcu dolor eu est. In semper pharetra lorem, et blandit lorem pretium nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut orci dictum, mollis felis vel, fringilla justo. Vivamus condimentum sapien eget tellus tincidunt efficitur. Suspendisse eu enim quis mauris scelerisque ornare. In feugiat ut urna non accumsan. Donec ac urna mi.</p>
                              </li>
                              
                            </ul>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                
  
              <!--Slika-->
              <div class="col-md-4">
                  <div class="card border-left-warning shadow h-100 py-2 div-margin auto-height">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        
                          <img src="" id="slikaBiljke" alt="Nema slike" class="img-thumbnail">
  
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div><!-- end of row -->
  
            <div class="row">
  
            <!--mapa-->
            <div class="div-margin div-margin-top">
            <h3 class="text-white div-margin">Lokacija:</h3>
            </div>
            </div><!-- end of row -->
  
            <div class="row">
            <div class="col-md-12 div-margin div-margin-top">
                
                <div class="card border-left-info shadow h-100 py-2 div-margin">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      
                        <div id="map" style="width:100%; height: 400px">
              
                          </div>
  
                  
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--kraj mape-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Sva prava zadržana &copy; Visiot 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

      


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/javascripts/sb-admin-2.min.js"></script>

  <!-- Google map skripta -->
  <script>
      var map;
      var markerImg = "./img/markerPlant.png";
      function initMap() {
        var markerPosition = {lat: 43.988766, lng: 18.179884};
        map = new google.maps.Map(document.getElementById('map'), {
          center: markerPosition,
          zoom: 18
        });

        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: markerPosition, map: map, icon: markerImg});
      }
    </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV-8rNBU_ch5FsfdEVAfqFhVX-Kg5QnFY&callback=initMap"
    async defer></script>

</body>

</html>

<script>
  const ammarcehaUrl = 'http://192.168.43.87:3003';
  const azraUrl = 'http://192.168.43.102:3003';

  const mainUrl = ammarcehaUrl;

  $(function(){
    var urlParams = new URLSearchParams(window.location.search);
    let plantID = urlParams.get('plantID');
    getPlantDetails(plantID);
  });

  function getPlantDetails(plantID){
    $.ajax({
      type: 'GET',
      url: mainUrl + "/plant/"+plantID,
      success: function(data) {
        console.log("Biljka: ");
        if(data.length > 0){
          let plant = data[0];
          console.log(plant);
          $("#nazivBiljke").html(plant.name); // ispis imena biljke
          $("#slikaBiljke").attr("src", plant.image.toString());
        }
      },
      error: (err) => {
        console.log(err);
      }
    })
  }
</script>
