<!DOCTYPE html>
<html lang="en">

<head>
  
  

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top" class="custom-background">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include ../partials/sidebar %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column custom-background">

      <!-- Main Content -->
      <div id="content">

         <!-- Topbar -->
         <% include ../partials/topbar %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-white">Unos biljke</h1>

        </div>
        <div class="row ">
            <div class="col-md-8">
                <div class="card border-left-primary shadow h-100 py-2 div-margin">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <label for="exampleInputEmail1"></label>
              <input type="email" class="form-control custom-width" id="nazivBiljke" aria-describedby="emailHelp" placeholder="Unesi naziv">
              
              <label for="exampleInputEmail1"></label>
              <input type="email" class="form-control custom-width" id="latinskiNaziv" placeholder="Unesi latinski naziv">
              <label for="exampleInputEmail1"></label>
              <select class="form-control" id="selectPorodice">

                </select>
              <label for="exampleInputEmail1"></label>
              
              <input type="email" class="form-control custom-width" id="visinaBiljke" aria-describedby="emailHelp" placeholder="Unesi visinu">
              <small id="emailHelp" class="form-text text-muted"></small>
              
              
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    
                  </div>
                  <!--pocetak forme, koordinate-->
                  
                  <form>
                      <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <label for="validationServer01"></label>
                          <input type="text" class="form-control" id="lat" placeholder="Lat" value="" >
                          
                        </div>
                        
                        <div class="col-md-4 mb-3">
                          <label for="validationServer02"></label>
                          <input type="text" class="form-control" id="lon" placeholder="Long" value="" ></div>
                          
                                  <div class="col-md-4 mb-3 ">
                                  <label for="validationServer02"></label>
                                  <br>
                                  <button type="button" class="btn btn-light"  id="validationServer02">Odaberi na karti</button>
                                </div>
                            </div>
                        </form> <!--kraj forme za koordinate-->
                        <div class="input-group mb-3 custom-width">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile02">
                              <label class="custom-file-label" for="inputGroupFile02">Odaberi sliku</label>
                            </div>
                            <div class="input-group-append">
                              
                            </div>
                          </div>                 
                  </div>
                  
                  <button type="submit" id="btnUnos" class="btn btn-primary btn-lg" style="left:500; background:seagreen">Unesi</button>
                </div>
                        </div>
                      </div>
                      </div>
                      <br>
                      
                    
                    </div>

               <!--picture-->
                <div class="col-md-4">
                    <div class="card border-left-warning shadow h-100 py-2 div-margin div-height">
                      <div class="card-body">
                        
                        
                          
                            <img src="/img/9.jpg" alt="" class="img-thumbnail" style="width:350px;height:235px;border-left-color: aqua">
    
                          
                        </div>
                      
                    </div>
                  </div>
              </div><!-- end of row -->
    
              <div class="row">
    
        
                    
      </div>
      
        <!-- /.container-fluid -->
        <!--mapa-->
        
        
      
              
      

      </div>
      
      <!-- End of Main Content -->
      

      <!-- Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Visiot &copy; GeoPlant 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/javascripts/sb-admin-2.min.js"></script>

</body>

</html>

<script>
  const ammarcehaUrl = 'http://192.168.43.87:3003';
  const azraUrl = 'http://192.168.43.102:3003';

  const mainUrl = ammarcehaUrl;

  $(function(){ // on document load
    getPorodice();

    $("#btnUnos").click(() => {     
      insertPlant();
    })
  });

  function getPorodice(){
    console.log("Poziva se !");
    $.ajax({
      type:'GET',
      url: mainUrl+'/plantfamilies',
      success: (data) => {
        console.log("Porodice GET!");
        console.log(data);
        let html = '';
        if(data.length > 0){
          data.forEach((family, index) => {
            html += `<option value="${family.id}">${family.name}</option>`;
          })
        }
        $("#selectPorodice").html(html);
      },
      error: (err) => {
        console.log(err);
      }
    })
  }

 function insertPlant(){
  /*
  {
    "name": "string",
    "latName": "string",
    "family": 0,
    "kingdom": "string",
    "plantOrder": "string",
    "about": "string",
    "geoLat": "string",
    "geoLon": "string",
    "image": "string"
  }*/

  let nazivBiljke = $("#nazivBiljke").val();
  let latinskiNaziv = $("#latinskiNaziv").val();
  let family = $("#selectPorodice option:selected").val();
  let lat = $("#lat").val();
  let lon = $("#lon").val();

  let plantObj = {
    "name": nazivBiljke,
    "latName": latinskiNaziv,
    "family": parseInt(family),
    "kingdom": "Kingdom of Orhideo",
    "plantOrder": "Order of Orhideo",
    "about": "",
    "geoLat": lat,
    "geoLon": lon,
    "image": null
  }

  console.log("Biljka: ");
  console.log(plantObj);

  fetch(mainUrl+"/plants",{
           method:'POST',
           headers:{
               'Accept': 'application/json',
               'Content-Type': 'application/json'
           },
           body: JSON.stringify(plantObj)
       })
       .then(res=>console.log(res))
       .catch(err=>console.log(err));
 }
</script>

