<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top" class="custom-background">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
   <% include ../partials/sidebar %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column custom-background">

      <!-- Main Content -->
      <div id="content">

         <!-- Topbar -->
         <% include ../partials/topbar %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-white">Pregled porodica biljaka
          </h1>

          
            <div id="prikaz"></div>
      
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prethodna</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Sljedeća</a>
            </li>
          </ul>
        </nav>

      
      
      </div><!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Sva prava zadržana &copy; Visiot 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/javascripts/sb-admin-2.min.js"></script>

</body>

</html>
<script>
  const mainUrl = 'http://192.168.43.87:3003';

  $(function(){
    console.log("UCITAVANJE");
    getFamily(); // izvrsavanje funkcije
  })

  function getFamily(){
    console.log("Uslo u funkciju");
    let requestUrl = mainUrl + "/plantfamilies";
    console.log(requestUrl);
    $.ajax({
      type:'GET',
      url: requestUrl,
      headers: {
        'Access-Control-Allow-Origin': 'http://localhost:3000',
        'Content-Type': 'application/json'
      },
      success: (data) => {
        console.log("Uspjesan get");
        console.log(data);
        let html = '';
        let lastIndex = 0;
        data.map((family, index) => {
          console.log("TRENUTNI: ", index);
          console.log("LAST INDEX: ", lastIndex);
          console.log("LAST INDEX + 1: ", lastIndex+3);

          if(index == 0 || index == lastIndex +3){
            if(index == 0){
              html += '<div class="row custom-row-center"><div class="card-deck">';
            }
            else {
              html += '</div></div><div class="row custom-row-center"><div class="card-deck">';            
            }
            lastIndex = index;
          }
           /*<div class="card border-0">
              <img src="/img/ljiljan.jpg" class="card-img-top velicinaGrida" alt="./image-not-found.png">
              <div class="card-body">
                <h5 class="card-title">Bosanski ljiljan</h5>
                
              </div>
            </div> */
          html+= `<div class="card border-0" style="margin-bottom: 20px">
              <img src="${family.image != null ? family.image : ''}" class="card-img-top velicinaGrida" alt="Nema slike">
              <div class="card-body">
                <h5 class="card-title"> ${
                  family.name
                }
                </h5>
                
              </div>
            </div>`

        });
        html += '</div>';
        $("#prikaz").html(html);
      },
      error: (err) => {
        console.log("Error");
        console.log(err);
      }
    })
  }
</script>

