<!DOCTYPE html>
<html lang="en">

<head>
  
  

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top" class="custom-background">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include ../partials/sidebar %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column custom-background">

      <!-- Main Content -->
      <div id="content">

         <!-- Topbar -->
         <% include ../partials/topbar %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-white">Unos biljke</h1>
          <div class="btn-group btn-group-toggle" style="margin-bottom: 20px" data-toggle="buttons">
              <label class="btn active" id="btnSwitch1" style="color:white">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Riješena biljka
              </label>
              <label class="btn" id="btnSwitch2" style="color:white">
                <input type="radio" name="options" id="option2" autocomplete="off"> Neriješena biljka
              </label>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-8">
                <div class="card border-left-primary shadow h-100 py-2 div-margin">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <form role="form" method="post" action="http://192.168.43.87:3003/plants" enctype="multipart/form-data">
                        <div class="col mr-2">
                            <label for="exampleInputEmail1"></label>
                            
              <input type="text" class="form-control custom-width" id="nazivBiljke" name="name" placeholder="Unesi naziv">
              
              <label for="exampleInputEmail1"></label>
              <input type="text" class="form-control custom-width" id="latinskiNaziv" name="latName" placeholder="Unesi latinski naziv">
              <label for="exampleInputEmail1"></label>
              <select class="form-control" id="selectPorodice">

                </select>
                           
              <div class="input-group mb-3">
                  <!--pocetak forme, koordinate-->             
                      <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <label for="validationServer01"></label>
                          <input type="text" class="form-control" id="lat" placeholder="Lat" name="geoLat" value="" >
                          
                        </div>
                        
                        <div class="col-md-4 mb-3">
                          <label for="validationServer02"></label>
                          <input type="text" class="form-control" id="lon" placeholder="Long" name="geoLon" value="" >
                        </div>
                          
                                  <div class="col-md-4 mb-3 ">
                                  <label for="validationServer02"></label>
                                  <br>
                                  <button type="button" class="btn btn-light"  id="validationServer02" data-toggle="modal" data-target="#exampleModal">Odaberi na karti</button>

                                  <!-- Modal -->
                                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title " id="exampleModalLabel">Označi biljku na karti</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <!--mapa-->
                                                <div class="row">
                                                  <div class="col-md-12 div-margin div-margin-top">
                                                      
                                                      <div class="card border-left-info shadow h-100 py-2 div-margin">
                                                        <div class="card-body">
                                                          <div class="row no-gutters align-items-center">
                                                            
                                                              <div id="map" style="width:100%; height: 800px">
                                                    
                                                                </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <!--kraj mape-->
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                                              <button type="button" class="btn btn-primary">Spasi</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        <div class="input-group mb-3 custom-width">
                            <div class="custom-file">
                              <input class="form-control custom-file-input" type="file" name="uploaded_image" accept=""/>
                              <label class="custom-file-label" for="inputGroupFile02">Odaberi sliku</label>
                            </div>
                            <div class="input-group-append">
                              
                            </div>
                          </div>  
                  </div>

                  <div class="col-md-4 mb-3">
                    <label>Odaberite tip biljke: </label>
                    <div style="width: 90px;">
                      <input type="radio" value="otrovna" name="type"> Otrovna
                      <input type="radio" value="ljekovita" name="type"> Ljekovita
                      <input type="radio" value="neutralna" name="type"> Neutralna
                    </div>
                  </div>
                  
                  <button type="submit" id="btnUnos" class="btn btn-primary btn-lg" style="left:500; background:seagreen">Unesi</button>
                </div><!-- end -->
              </form>
                        </div>
                      </div>
                      </div>
                      <br>
                      
                    
                    </div>

               <!--picture-->
                <div class="col-md-4">
                    <div class="card border-left-warning shadow h-100 py-2 div-margin div-height">
                      <div class="card-body">
                        
                        
                          
                            <img src="/img/9.jpg" alt="" class="img-thumbnail" style="width:350px;height:235px;border-left-color: aqua">
    
                          
                        </div>
                      
                    </div>
                  </div>
              </div><!-- end of row -->
    
              <div class="row">
    
        
                    
      </div>
      
        <!-- /.container-fluid -->
        <!--mapa-->
        
        
      
              
      

      </div>
      
      <!-- End of Main Content -->
      

      <!-- Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Visiot &copy; GeoPlant 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/javascripts/sb-admin-2.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV-8rNBU_ch5FsfdEVAfqFhVX-Kg5QnFY&callback=initMap"
  async defer></script>

</body>

</html>

<script>
  const ammarcehaUrl = 'http://192.168.43.87:3003';
  const azraUrl = 'http://192.168.43.102:3003';

  const mainUrl = ammarcehaUrl;

  $(function(){ // on document load
    getPorodice();

    $("#btnUnos").click(() => {     
      insertPlant();
    });

    $("#option1").click(() => {
      $("#btnSwitch2").removeClass("btn-custom");
      $("#btnSwitch1").addClass("btn-custom");
    });

    $("#option2").click(() => {
      $("#btnSwitch1").removeClass("btn-custom");
      $("#btnSwitch2").addClass("btn-custom");
    });
  });

  function getPorodice(){
    console.log("Poziva se !");
    $.ajax({
      type:'GET',
      url: mainUrl+'/plantfamilies',
      success: (data) => {
        console.log("Porodice GET!");
        console.log(data);
        let html = '';
        if(data.length > 0){
          data.forEach((family, index) => {
            html += `<option value="${family.id}">${family.name}</option>`;
          })
        }
        $("#selectPorodice").html(html);
      },
      error: (err) => {
        console.log(err);
      }
    })
  }

 function insertPlant(){
  /*
  {
    "name": "string",
    "latName": "string",
    "family": 0,
    "kingdom": "string",
    "plantOrder": "string",
    "about": "string",
    "geoLat": "string",
    "geoLon": "string",
    "image": "string"
  }*/

  let nazivBiljke = $("#nazivBiljke").val();
  let latinskiNaziv = $("#latinskiNaziv").val();
  let family = $("#selectPorodice option:selected").val();
  let lat = $("#lat").val();
  let lon = $("#lon").val();

  let plantObj = {
    "name": nazivBiljke,
    "latName": latinskiNaziv,
    "family": parseInt(family),
    "kingdom": "Kingdom of Orhideo",
    "plantOrder": "Order of Orhideo",
    "about": "",
    "geoLat": lat,
    "geoLon": lon,
    "image": null
  }

  console.log("Biljka: ");
  console.log(plantObj);

  fetch(mainUrl+"/plants",{
           method:'POST',
           headers:{
               'Accept': 'application/json',
               'Content-Type': 'application/json'
           },
           body: JSON.stringify(plantObj)
       })
       .then(res=>console.log(res))
       .catch(err=>console.log(err));
 }
</script>

<!-- Google map skripta -->
<script>
    const ammarcehaUrl = 'http://192.168.43.87:3003';
    const azraUrl = 'http://192.168.43.102:3003';

    const mainUrl = ammarcehaUrl;
    $(function(){
      console.log("UCITAVANJE");
      //getPlants(); // izvrsavanje funkcije
    })

    let positionsArr = []; // niz koordinata
  
  function getPlants(){
    console.log("Uslo u funkciju");
    let requestUrl = mainUrl + "/plants";
    console.log(requestUrl);
    $.ajax({
      type:'GET',
      url: requestUrl,
      headers: {
        'Access-Control-Allow-Origin': 'http://localhost:3000',
        'Content-Type': 'application/json'
      },
      success: (data) => {
        console.log("Uspjesan get");
        console.log(data);
        data.forEach(plant => {
            positionsArr.push({"plantId":plant.id, "name": plant.name, "geoLat":plant.geoLat, "geoLon": plant.geoLon});
        });
        
      },
      error: (err) => {
        console.log("Error");
        console.log(err);
      }
    })
  }


    var map;
    var markerImg = "./img/markerPlant.png";
    function initMap() {
      let requestUrl = mainUrl + "/plants";
      console.log(requestUrl);
      $.ajax({
        type:'GET',
        url: requestUrl,
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:3000',
          'Content-Type': 'application/json'
        },
        success: (data) => {
          console.log("Uspjesan get");
          console.log(data);
          data.forEach(plant => {
              positionsArr.push({"plantId":plant.id, "name": plant.name, "geoLat":plant.geoLat, "geoLon": plant.geoLon});
          });
          console.log("INIT");
      var markerPosition = {lat: 43.988766, lng: 18.179884};
      map = new google.maps.Map(document.getElementById('map'), {
        center: markerPosition,
        zoom: 9
      });

      var iconBase =
            'https://developers.google.com/maps/documentation/javascript/examples/full/images/';

        var icons = {
          parking: {
            icon: iconBase + 'parking_lot_maps.png'
          },
          library: {
            icon: iconBase + 'library_maps.png'
          },
          info: {
            icon: iconBase + 'info-i_maps.png'
          }
        };

      let features = [];

      positionsArr.forEach(pos => {
        console.log(pos);
        console.log("TEST");
        console.log(pos.geoLat + " - " + pos.geoLon);
        features.push({
          position: new google.maps.LatLng(pos.geoLat, pos.geoLon),
          type: "info"
        })
      });

      // Create markers.
      for (var i = 0; i < features.length; i++) {
            var marker = new google.maps.Marker({
              position: features[i].position,
              icon: "/img/markerPlant.png",
              map: map
            });
          };

      // The marker, positioned at Uluru
      //var marker = new google.maps.Marker({position: markerPosition, map: map, icon: markerImg});
        },
        error: (err) => {
          console.log("Error");
          console.log(err);
        }
      })



    }
  </script>
